
  .palette-1 .color-1 {
    background-color: #c2d8c7;
  }
  .palette-1 .color-2 {
    background-color: #e6854d;
  }
  .palette-1 .color-3 {
    background-color: #a8a6d8;
  }
  .palette-1 .color-4 {
    background-color: #ffa9ff;
  }
  .palette-1 .color-5 {
    background-color: #8e5b7f;
  }
  .palette-2 .color-1 {
    background-color: #00428d;
  }
  .palette-2 .color-2 {
    background-color: #00a3ed;
  }
  .palette-2 .color-3 {
    background-color: #e1eff5;
  }
  .palette-2 .color-4 {
    background-color: #00705f;
  }
  .palette-2 .color-5 {
    background-color: #c2b29d;
  }
  .palette-3 .color-1 {
    background-color: #ff4619;
  }
  .palette-3 .color-2 {
    background-color: #fdc2c0;
  }
  .palette-3 .color-3 {
    background-color: #e2e5e9;
  }
  .palette-3 .color-4 {
    background-color: #00632e;
  }
  .palette-3 .color-5 {
    background-color: #222626;
  }
  .palette-4 .color-1 {
    background-color: #00899a;
  }
  .palette-4 .color-2 {
    background-color: #00c1cd;
  }
  .palette-4 .color-3 {
    background-color: #bbd8d8;
  }
  .palette-4 .color-4 {
    background-color: #ffded8;
  }
  .palette-4 .color-5 {
    background-color: #7c6065;
  }
  .palette-5 .color-1 {
    background-color: #f1d2bf;
  }
  .palette-5 .color-2 {
    background-color: #ffc884;
  }
  .palette-5 .color-3 {
    background-color: #ec8452;
  }
  .palette-5 .color-4 {
    background-color: #a30000;
  }
  .palette-5 .color-5 {
    background-color: #243e19;
  }
  .palette-6 .color-1 {
    background-color: #733fbe;
  }
  .palette-6 .color-2 {
    background-color: #d185de;
  }
  .palette-6 .color-3 {
    background-color: #ffd4d7;
  }
  .palette-6 .color-4 {
    background-color: #ff8cb2;
  }
  .palette-6 .color-5 {
    background-color: #cf56a7;
  }
  .palette-7 .color-1 {
    background-color: #004949;
  }
  .palette-7 .color-2 {
    background-color: #7b9788;
  }
  .palette-7 .color-3 {
    background-color: #e4ebee;
  }
  .palette-7 .color-4 {
    background-color: #bec2bd;
  }
  .palette-7 .color-5 {
    background-color: #0e1b26;
  }
  .palette-8 .color-1 {
    background-color: #005676;
  }
  .palette-8 .color-2 {
    background-color: #17aacf;
  }
  .palette-8 .color-3 {
    background-color: #eaf6fa;
  }
  .palette-8 .color-4 {
    background-color: #003b4e;
  }
  .palette-8 .color-5 {
    background-color: #5e5967;
  }
  .palette-9 .color-1 {
    background-color: #c9b59f;
  }
  .palette-9 .color-2 {
    background-color: #1c3d00;
  }
  .palette-9 .color-3 {
    background-color: #c10000;
  }
  .palette-9 .color-4 {
    background-color: #fd002e;
  }
  .palette-9 .color-5 {
    background-color: #cf7d00;
  }